<html>
<style>
    @media screen {
		.print-format {
			padding: 0.50in;
		}
	}
    tr:nth-child(odd) {
      background-color: #dddddd;
    }
</style>
<body>
<div id="header-html">
{% if doc.letter_head %}
	<div class="letter-head">
		{{ frappe.render_template(frappe.db.get_value("Letter Head", doc.letter_head, "content"), {"doc": doc}) }}
	</div>
{% endif %}
</div>

<table style="width: 100%">
    <td style="width: 50%;background-color: white">
        <h2><b>{%if doc.doctype == 'Sales Invoice'%}{{_("INVOICE")}}{%else%}{{_("QUOTATION")}}{%endif%}</b></h2>
    </td>
    <td style="width: 50%;background-color: white">
        <h6>
            <b>{%if doc.doctype == 'Sales Invoice'%}{{_("INVOICE NO #:")}}{%else%}{{_("QUOTATION NO: ")}}{%endif%} {{doc.name}} </b><br>
        </h6>
        <h6>
            <span><b>{{_("Date")}}:</b>
                {%if doc.doctype == 'Sales Invoice'%}
                     {{frappe.utils.formatdate(doc.get_formatted('posting_date'), "dd-MM-yyyy") }}
                {%else%}
                    {{frappe.utils.formatdate(doc.get_formatted('transaction_date'), "dd-MM-yyyy") }}
                {%endif%}

            </span>
            {%if doc.doctype == "Quotation"%}
            <br>
            <span><b>{{_("Valid Till")}}:</b>
                    {{frappe.utils.formatdate(doc.get_formatted('valid_till'), "dd-MM-yyyy") }}
            </span>
            {%endif%}

        </h6>
    </td>
</table>
<table style="width: 100%">
    <td style="width: 50%;font-size: small;background-color: white">
        {{_("From")}}: <br>
        <b>Spreads IoT Solutions Pvt Ltd</b><br>
        17/137-81, 3rd Floor, Le Shore Grande<br>
        Aranattukkara, Poothole Road<br>
        Thrissur, Kerala -680004<br>
        Phone : +91 95265 10001<br>
        Email :  info@spreadssolutions.com<br>
        Web : www.spreadssolutions.com<br>
        GSTIN: 32ABCCS0335A1Z7
    </td>
    <td style="width: 50%;font-size: small;background-color: white">
                {{_("To")}}:<br>

        <b>
              {{doc.customer_name}}
            </b><br>
        {%if doc.address_display%}
            {{doc.address_display}}
        {%endif%}
    </td>
</table>
<div><h4>Items</h4></div>
{%if doc.doctype == 'Sales Invoice'%}
    <table style="width: 100%;margin-top: 1%;border-bottom: 3px solid blue;">
        <tr style="background-color: #ff9933">
            <td class="text-center" style="width: 15%">{{_("Qty")}}</td>
            <td class="text-center" style="width: 20%">{{_("HSN/SAC ")}}</td>
            <td  style="width: 25%">{{_("Service Description")}}</td>
            <td class="text-center" style="width: 20%">{{_("Price")}}</td>
            <td class="text-center" style="width: 20%">{{_("Total")}}</td>
        </tr>
        {%for i in doc.items%}
            <tr>
                <td class="text-center" style="width: 20%">{{i.qty | int}}</td>
                <td class="text-center" style="width: 20%">{%if frappe.db.get_value("Item", i.item_code, "gst_hsn_code")%}{{frappe.db.get_value("Item", i.item_code, "gst_hsn_code")}}{%endif%}</td>
                <td style="width: 20%">{{i.description}}</td>
                <td class="text-center" style="width: 20%">{{frappe.utils.fmt_money(i.rate,currency=doc.currency)}}</td>
                <td class="text-center" style="width: 20%">{{frappe.utils.fmt_money(i.amount,currency=doc.currency)}}</td>
            </tr>
        {%endfor%}

    </table>
    <table style="width: 100%;margin-top: 1%;border-bottom: 3px solid blue;">
    <tr style="background-color: #ff9933">
        <td class="text-center" style="width: 15%">{{_("Qty")}}</td>
        <td class="text-center" style="width: 20%">{{_("HSN/SAC ")}}</td>
        <td colspan="2" style="width: 50%">{{_("Material Description")}}</td>
        <td class="text-center" style="width: 20%">{{_("UOM")}}</td>
    </tr>
    {%for i in doc.raw_material%}
                {% if frappe.db.get_value("Item", i.item_code, "item_group") != 'Utility Raw Material'%}

        <tr>
            <td class="text-center" style="width: 20%">{{i.qty | int}}</td>
            <td class="text-center" style="width: 20%">{%if frappe.db.get_value("Item", i.item_code, "gst_hsn_code")%}{{frappe.db.get_value("Item", i.item_code, "gst_hsn_code")}}{%endif%}</td>
            <td colspan="2" style="width: 40%">{{i.description}}</td>
            <td class="text-center" style="width: 20%">{{i.uom}}</td>

        </tr>
    {%endif%}
    {%endfor%}

</table>
{%else%}
    <table style="width: 100%;margin-top: 1%;border-bottom: 3px solid blue;">
        <tr style="background-color: #ff9933">
            <td  style="width: 60%">{{_("Service Description")}}</td>
            <td class="text-center" style="width: 10%">{{_("Qty")}}</td>
            <td class="text-center" style="width: 10%">{{_("Price")}}</td>
            <td class="text-center" style="width: 20%">{{_("Total")}}</td>
        </tr>
        {%for i in doc.items%}
            <tr>
                <td >{{i.item_name}}</td>
                <td class="text-center" style="width: 10%">{{i.qty | int}}</td>
                <td class="text-center" >{{frappe.utils.fmt_money(i.rate,currency=doc.currency)}}</td>
                <td class="text-center" >{{frappe.utils.fmt_money(i.amount,currency=doc.currency)}}</td>
            </tr>
        {%endfor%}

    </table>
    <table style="width: 100%;margin-top: 1%;border-bottom: 3px solid blue;">
    <tr style="background-color: #ff9933">

        <td  style="width: 40%">{{_("Material Description")}}</td>
                <td class="text-center" style="width: 15%">{{_("UOM")}}</td>

        <td class="text-center" style="width: 15%">{{_("Qty")}}</td>
        <td class="text-center" style="width: 15%">{{_("Price")}}</td>
        <td class="text-center" style="width: 15%">{{_("Total")}}</td>
    </tr>
    {%for i in doc.raw_material%}
        <tr>
            <td  >{{i.item_name}}</td>
                        <td class="text-center" >{{i.uom}}</td>

            <td class="text-center" >{{i.qty | int}}</td>
            <td class="text-center" >{{i.rate}}</td>
            <td class="text-center" >{{i.amount}}</td>

        </tr>
    {%endfor%}

</table>
{%endif%}

<table style="width: 100%;margin-top: 1%">
    <tr>
        <td colspan="2" class="text-center" style="width: 40%;background-color: white"></td>
        <td class="text-right" style="width: 35%;background-color: white">{{_("Subtotal")}}</td>
        <td class="text-right" style="width: 25%;background-color: white">{{frappe.utils.fmt_money(doc.total,currency=doc.currency)}}</td>
    </tr>
     <tr>
        <td colspan="2" class="text-center" style="width: 40%;background-color: white"></td>
        <td class="text-right" style="width: 35%;background-color: white">{{_("Discount")}}</td>
        <td class="text-right" style="width: 25%;background-color: white">{{frappe.utils.fmt_money(doc.discount_amount,currency=doc.currency)}}</td>
    </tr>
    <tr>
        <td colspan="2" class="text-left" style="width: 50%;background-color: white">

        </td>
        <td class="text-center" style="width: 25%;background-color: white"></td>
        <td class="text-right" style="width: 25%;font-size: larger;background-color: #ff9933">{{frappe.utils.fmt_money(doc.grand_total,currency=doc.currency)}}</td>
    </tr>




</table>
<table style="width: 100%">
          <td colspan="2" class="text-left" style="width: 100%;background-color: white">
              <b>{{_("Terms & Conditions:")}}</b> <br>
              <span style="font-size: smaller">{%if doc.terms%}{{doc.terms}}{%endif%}</span>
          </td>
</table>

<div id="footer-html">
{% if doc.letter_head %}
	<div class="letter-head-footer">
		{{ frappe.render_template(frappe.db.get_value("Letter Head", doc.letter_head, "footer"), {"doc": doc}) }}
	</div>
{% endif %}
</div>
</body>

</html>